In [1]:
import pandas as pd
import numpy as np

In [111]:
# Visualization Libraries
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [112]:
# Viewing  plot's appearance
%config InlineBackend.figure_format='retina'
sns.set() # Revert to matplotlib defaults
plt.rcParams['figure.figsize'] = (9,6)
plt.rcParams['axes.labelpad'] = 10
sns.set_style("darkgrid")

In [144]:
jan = pd.read_csv("jan.csv")
feb = pd.read_csv("feb.csv")
mar = pd.read_csv("mar.csv")
apr = pd.read_csv("apr.csv")
may = pd.read_csv("may.csv")
jun  = pd.read_csv("jun.csv")

In [145]:
jan_df = pd.DataFrame(jan)
feb_df = pd.DataFrame(feb)
mar_df = pd.DataFrame(mar)
apr_df = pd.DataFrame(apr)
may_df = pd.DataFrame(may)
jun_df = pd.DataFrame(jun)

In [146]:
jan_df.shape, feb_df.shape, mar_df.shape, apr_df.shape, may_df.shape, jun_df.shape

((583985, 29),
 (533175, 29),
 (632074, 29),
 (612023, 29),
 (636390, 29),
 (636691, 29))

In [147]:
df = pd.concat([jan_df, feb_df, mar_df, apr_df, may_df, jun_df])

In [148]:
df.columns

Index(['YEAR', 'QUARTER', 'MONTH', 'OP_UNIQUE_CARRIER',
       'OP_CARRIER_AIRLINE_ID', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_CITY_NAME', 'ORIGIN_STATE_NM', 'DEST_CITY_MARKET_ID', 'DEST',
       'DEST_CITY_NAME', 'DEST_STATE_NM', 'DEP_DELAY_NEW', 'TAXI_OUT',
       'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'DIVERTED', 'AIR_TIME', 'FLIGHTS',
       'DISTANCE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY',
       'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'DIV_AIRPORT_LANDINGS',
       'Unnamed: 28'],
      dtype='object')

In [149]:
df.drop(columns=['Unnamed: 28'], inplace=True)

In [150]:
df.columns = df.columns.str.lower()

In [151]:
df.month.unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [152]:
df.quarter.unique()

array([1, 2], dtype=int64)

In [153]:
df.head(4)

,year,quarter,month,op_unique_carrier,op_carrier_airline_id,tail_num,op_carrier_fl_num,origin_city_name,origin_state_nm,dest_city_market_id,...,diverted,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,div_airport_landings
0,2019,1,1,9E,20363,N195PQ,5121,"Knoxville, TN",Tennessee,30397,...,0.0,36.0,1.0,152.0,0.0,0.0,0.0,0.0,25.0,0
1,2019,1,1,9E,20363,N919XJ,5121,"Knoxville, TN",Tennessee,30397,...,0.0,38.0,1.0,152.0,0.0,0.0,12.0,0.0,70.0,0
2,2019,1,1,9E,20363,N316PQ,5122,"Atlanta, GA",Georgia,34783,...,0.0,84.0,1.0,563.0,NaN,NaN,NaN,NaN,NaN,0
3,2019,1,1,9E,20363,N325PQ,5122,"Atlanta, GA",Georgia,34783,...,0.0,85.0,1.0,563.0,NaN,NaN,NaN,NaN,NaN,0

In [154]:
# What airline had the most number of flights in the first quarter of 2019?
df[df['quarter']==1]\
                    ['op_unique_carrier'].\
                     value_counts().nlargest(1)

WN    330225
Name: op_unique_carrier, dtype: int64

In [155]:
# Total number of airline travels in the first half of 2019
print("There was a total of " + str(df.shape[0]) + " airline travels in the first half of 2019.")

There was a total of 3634338 airline travels in the first half of 2019.

In [156]:
#What is the total airtime by all airlines in may 2019?
(df[df['month']==5]['air_time'].sum())/60

1154951.7333333334

In [157]:
# What city do you consider the busiest city in april 2019?
df[df['month']==4].groupby('dest_city_name')['air_time'].count().nlargest(1)

dest_city_name
Chicago, IL    32821
Name: air_time, dtype: int64

In [158]:
# What airline covered the most distance in june 2019?
df[df['month']==6].groupby('op_unique_carrier')['distance'].sum().nlargest(1)

op_unique_carrier
WN    85246573.0
Name: distance, dtype: float64

In [159]:
# What is the tail number of the aircraft that covered the most distance in Q2?
df[df['quarter']==2].groupby('tail_num')['distance'].sum().nlargest(1)

tail_num
N934JB    598286.0
Name: distance, dtype: float64

In [160]:
df.columns

Index(['year', 'quarter', 'month', 'op_unique_carrier',
       'op_carrier_airline_id', 'tail_num', 'op_carrier_fl_num',
       'origin_city_name', 'origin_state_nm', 'dest_city_market_id', 'dest',
       'dest_city_name', 'dest_state_nm', 'dep_delay_new', 'taxi_out',
       'wheels_off', 'wheels_on', 'taxi_in', 'diverted', 'air_time', 'flights',
       'distance', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'div_airport_landings'],
      dtype='object')

In [166]:
# Which state recorded the most delays in the 2nd quarter of 2019?
df[df['quarter']==2].groupby('dest_city_name')\
                     ['dep_delay_new'].count().nlargest(1)

dest_city_name
Chicago, IL    104833
Name: dep_delay_new, dtype: int64

In [171]:
#What is the daily average Taxi-out time in New York in February 2019 ?
df_feb = df[df['month']==2]
df_feb[df_feb['dest_city_name']=='New York, NY']['taxi_out'].mean()

19.511121323529412

In [175]:
# How many airlines with New York destinations were diverted in Q1 2019?
df[df['quarter']==1].groupby('dest_city_name')['div_airport_landings'].count().loc['New York, NY']

72978

In [178]:
df['weather_delay']

0         0.0
1         0.0
2         NaN
3         NaN
4         NaN
         ...
636686    NaN
636687    NaN
636688    NaN
636689    0.0
636690    NaN
Name: weather_delay, Length: 3634338, dtype: float64